[core]
	excludesfile = /data/data/com.termux/files/home/.gitignore
[user]
	name = Brett Slaughter
	email = ovbslaught@gmail.com
[credential "https://github.com"]
	helper = 
	helper = !/data/data/com.termux/files/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/data/data/com.termux/files/usr/bin/gh auth git-credential
